
<!doctype html>
<head>
  <title>Kokobox</title> 
  <link rel="stylesheet" type="text/css"
  href={{url_for('static',filename='style.css')}} media="screen" />
</head>
<body>
  {% include 'title.html' %}
  <div id="corps">
    <div id="corps2">
      {% include 'menu.html' %}
      <div id="corps3">   
        <div id="about">
          <p>Réalisé par <a href=mailto:kokothekoala@gmail.com>koko</a></p>
          <p>Base : <a href=http://wiki.daviddarts.com>piratebox</a></p>
          <p>Au <a href=https://www.logre.eu/>Laboratoire Ouvert
            Grenoblois</a></p>
        </div>
      </div>
    </div>
  </div>
</body>
